body, html {
    height: 100%;
}


.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
}


.hero-text {
  text-align: right;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: rgb(226, 114, 161);
  font-family: (link rel="stylesheet" href="https://fonts.google.com/specimen/Ubuntu?query=ubuntu");
  
}
  div {padding: 50px;}
section {text-align: center ;}
footer {
    background-color: rgb(169, 177, 177);
    text-align: center;
     font-family: "link rel="stylesheet" href="https://fonts.google.com/specimen/Ubuntu?query=ubuntu";
    }
    body {font-family: Arial, Helvetica, sans-serif}
* {box-sizing: border-box;}




/* Position the navbar container inside the image */
.container {
position: absolute;
margin-top: 20px;
width: auto;



}




/* Navbar links */
.topnav a {
float: right;
color: #f1e8e8;
text-align: right;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}